
.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
}

.card-details{
    text-align: center;
}

.depTitle h4{
    color: cornflowerblue;
}