

.app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-dep-info {
    width: 90vw;
    box-shadow: 0 0 13px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    border-radius: 8px;
    padding: 25px;
}

.main-dep-info > h3 {
    background-color: #5f4496;
    color: #fff;
    padding: 10px;
    display: block;
    margin-bottom: 40px;
}
